<a class="tile" href="{{baseUrl}}/{{person.id}}">
  <header>
    <h1>
      <img src="icons/24/user.png" height="24" width="24"/>
      {{person.fullname}}
    </h1>
  </header>
  
  <aside>
    <ul>
      <li>
        <img src="icons/16/home.png" height="16" width="16"/>{{person.birthPlace}}
      </li>
      
      <li>
        <img src="icons/16/calendar.png" height="16" width="16"/>
        {{person.birthDate}}
      </li>
    </ul>
  </aside>
</a>

