<p class="field" data-field="{{id}}">
  <label for="{{id}}">{{name}}</label> {{#if removable}}<img src="icons/16/cross-small.png" alt="Supprimer" data-action="remove-field" />{{/if}}<br />
  <input type="text" id="{{id}}" name="{{id}}" data-tag-key="{{name}}" placeholder="{{placeholder}}" value="{{value}}" />
</p>

